* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ui {
  position: fixed;
  inset: 0;

  display: grid;
  place-items: center;
}
.ui-wrapper {
  /* opacity: 0; */
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.ui-titles {
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 1px 1px 8px #ddd;
}
.ui-titles-main {
  margin-bottom: 10px;
  font-size: 3.45em;
  font-weight: 900;
}
.ui-subtitle-sub {
  font-size: 1.2em;
  font-weight: 600;
}

.ui-actions {
  text-align: center;
}
.ui-actions button {
  width: 100%;
  height: 40px;
  display: block;
  margin: 10px;
  background-color: #0450d898;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 200ms ease-in-out background-color;
}
.ui-actions button:hover {
  background-color: #0450d8;
}

.ui-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 25px;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  color: #3204d8;
}

.ui-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.controls-set {
  display: flex;
  align-items: center;
  max-width: 600px;
}
.controls-set p {
  font-weight: 600;
  font-size: 1.2em;
  margin-left: 10px;
  text-shadow: 1px 1px 5px #1077ff;
}
.controls-set img {
  width: 150px;
  object-fit: cover;
}


.ui-credits {
  display: flex;
  flex-direction: column;
}
.credits-content {
  padding: 16px;
  margin-bottom: 8px;
  background-color: #eee9;
  border-radius: 5px;
}
.credits-content p {
  font-weight: 400;
  font-size: 1.2em;
  margin: 8px 0;
}

#sound-wrapper {
  position: absolute;
  right: 40px;
  top: 20px;

  height: auto;
  width: auto;
  border: none;
  background-color: #fff6;
  transition: transform 100ms ease-in-out;
}
#sound-wrapper:active {
  transform: scale(0.8);
}
/* .sound-icon {} */

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    /* pointer-events: all; */
    visibility: initial;
  }
}
@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /* pointer-events: all; */
    visibility: hidden;
  }
}
